# env
.env
.venv/

# python
__pycache__/
*.pyc

# go
bin/
*.out

# reports
reporter/reports/*.png
reporter/reports/*.csv

# kubernetes / temp
*.swp
*.tmp

# ide
.idea/
.vscode/

# mac/linux noise
.DS_Store
